{:deps true
 :nrepl {:port 8777}
 :dev-http {8200 "resources/public"}
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :modules {:app {:init-fn doto.core/init}}
                :devtools {:preloads [day8.re-frame-10x.preload]}
                :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                                           day8.re-frame.tracing.trace-enabled? true}}}
                :release {:build-options {:ns-aliases {day8.re-frame.tracing
                                                       day8.re-frame.tracing-stubs}}}}}}